.nav-container {
  .navbar {
    min-height: 100vh;
    width: 10rem;
    background: #1c262b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .nav-icons-container {
      height: 40rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      font-size: 3rem;
    }
  }
}
