.nav-container {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 10rem; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background: #1c262b;
  overflow-x: auto; /* Disable horizontal scroll */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  .navbar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .nav-icons-container {
      height: 40rem;
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      font-size: 3rem;
    }
  }
}
